table {
    border-collapse:collapse;
    margin: auto;
}
td {
    border: solid thin black;
    width: 25px;
    height: 25px;
}
.black {
     background: DarkGrey;
}
.white {
     background: white;
}